$palette-map: (
  'white': #ffffff,
  'snow': #fcfcfc,
  'whisper': #eeeeee,
  'gainsboro': #d8d8d8,
  'sova-grey': #909090,
  'aquamarine': #4ef09d,
  'red': #ff2828,
  'nero': #1a1a1a,
);
$palette-white: #ffffff;
$palette-snow: #fcfcfc;
$palette-whisper: #eeeeee;
$palette-gainsboro: #d8d8d8;
$palette-sova-grey: #909090;
$palette-aquamarine: #4ef09d;
$palette-red: #ff2828;
$palette-nero: #1a1a1a;
