//css helpers
@mixin transition($property, $time) {
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  transition: $property $time;
}

@mixin placeholder($selector) {
  #{$selector}::-webkit-input-placeholder {
    @content;
  }
  #{$selector}:-moz-placeholder {
    @content;
  }
  #{$selector}::-moz-placeholder {
    @content;
  }
  #{$selector}:-ms-input-placeholder {
    @content;
  }
}

@mixin ellipsis() {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

@mixin ellipsis--v-center() {
  @include ellipsis;
  height: 100%;
}
